.form {
  margin-bottom: 2rem;
}

.esqueciSenha {
  display: inline-block;
  color: var(--cinza);
  padding: 1.5rem 0;
  line-height: 1;
}

.esqueciSenha::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: currentColor;
  display: block;
}

.cadastro {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitulo {
  font-family: var(--tipografia-secundaria);
  line-height: 1;
  font-size: 2rem;
}

.subtitulo::after {
  content: "";
  display: block;
  background: var(--cinza-claro);
  height: 0.5rem;
  width: 3rem;
  border-radius: 10px;
}
